<!doctype html>
<html lang="en">
   <head>
   		<meta charset='utf-8'>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title> 🗳 Feature Request Application </title>

   </head>
   <body>
	<div class="container">
  		<div class="row justify-content-md-center">
	 		<h1> Insert new features </h1>
		</div>
			<form method="POST" action="/" class="needs-validation" novalidate>
				<div class="form-group row">
					<div class="col-lg-10">
						<input type="text" name="title" class="form-control" placeholder="Feature Title" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-10">
						<textarea name="description"  class="form-control" placeholder="Feature Description" row="3" required></textarea>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-10">
						<select name="client" class="form-control" required>
								<option value="Client A">Client A</option>
								<option value="Client B">Client B</option>
								<option value="Client C">Client C</option>
						</select> 
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-10">
						<input type="number" min="0" step="1" name="client_priority" class="form-control" value="0" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-10" id="dateConfig">
						<input type="text" name="target_date" id="txtDate" name="client_priority" class="form-control" placeholder="mm/dd/YYYY" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-10">
						<select name="product_area" class="form-control" required>
								<option value="Policies">Policies</option>
								<option value="Billing">Billing</option>
								<option value="Claims">Claims</option>
								<option value="Reports">Reports</option>
						</select> 
					</div>
				</div>
					<input type="submit" value="Add Feature" class="btn btn-primary">
			</form>	
		<p></p>
		<p></p>
		<div class="row justify-content-md-center">	
			<h1> List of features </h1>
		</div>
		<div class="row">
			<p>
			{% if message %}
			<div class="alert alert-success" role="alert">
				ID {{ message }} was deleted 
			</div>
			{%  endif %}

			<table class="table table-striped">
				<thead>
					<tr>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Client</th>
					<th scope="col">Priority</th>
					<th scope="col">Date</th>
					<th scope="col">Product Area</th>
					<th scope="col" colspan="2"> Actions </th>
					</tr>
				</thead>
			{% for feature in features %}
				</tr>
					<td> {{feature.title}} </td>
					<td> {{feature.description}} </td>
					<td> {{feature.client}} </td>
					<td> {{feature.client_priority}} </td>
					<td> {{ feature.target_date.strftime("%m/%d/%Y") }} </td>
					<td> {{feature.product_area}} </td>
					<td> <a href="/update/{{ feature.id_feature }}/"> Edit </a> </td>
					<td> <a href="/delete/{{ feature.id_feature }}/"> Delete </a> </td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>

<!--- JS Dependencies -->
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
	<script>
		$('#dateConfig input').datepicker({
			format: "mm/dd/yyyy",
			startDate: "today"
		});
	</script>

	<script>
		(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
				}
				form.classList.add('was-validated');
			}, false);
			});
		}, false);
		})();
	</script>
<!--- end JS Dependencies -->
   </body>
</html
